doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    //- link(rel='icon', href='../../../../favicon.ico')

  body
    
    nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
      a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/') Mosaic

      if user
        input.form-control.form-control-dark.w-100(type='text' placeholder='Search' aria-label='Search')
      
      if !user
        ul.navbar-nav.px-3
          li.nav-item(class=(title == 'Login' ? 'active' : ''))
            a.nav-link(href='/users/login') Login

      if user
        ul.navbar-nav.px-3
          li.nav-item
            a.nav-link(href='/users/logout') Logout


    .container-fluid
      != messages()
      block content

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='/javascripts/bootstrap.js')