doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='icon', href='../../../../favicon.ico')

  body
    
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') Mosaic

      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item(class=(title == 'Dashboard' ? 'active' : ''))
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item(class=(title == 'Users' ? 'active' : ''))
            a.nav-link(href='/users/') Users
        
        if !user
          ul.navbar-nav.ml-auto
            li.nav-item(class=(title == 'Login' ? 'active' : ''))
              a.nav-link(href='/users/login') Login

        if user
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/users/logout') Logout


    .container
      != messages()
      block content

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='/javascripts/bootstrap.js')